/* Start Main Rulez */

body {
  height: 2000px;
}

.container {
  width: 1170px;
  margin: auto;
}

.clearfix {
  clear: both;
}

/* End Main Rulez */

/* Start Header */

.header .slider {
  background-color: #eee;
  height: 60px;
}

.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
}

.header .navbar h2 {
  float: left;
  text-transform: uppercase;
}

.header .navbar h2 span {
  color: #2ecc71;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

/* End Header */

/*Start Features*/
.features {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}

.features .feat {
  float: left;
  width: 33.333333%;
  height: 150px;
  background-color: #ddd; /* For Layout Only */
}

.features .feat h2 {
  text-transform: uppercase;
}

/*End Features*/

/* Start About Me */

.flex-container {
  display: flex;
  margin-left: 6%;  /*vragen aan docent */

  /*Nieuwe functie*/
}

.about-me {
  background-color: #f2f2f2;
  overflow: hidden;
}

.about-me .image {
  float: left;
  width: 40%;
}

.about-me .image img {
  width: 100%;
}

.about-me .info {
  float: right;
  width: 60%;
}

.about-me .info .hobbies {
  overflow: hidden;
  margin: 50px;
}

.about-me .info .hobbies > div {
  float: left;
  width: 50%;
  min-height: 100px;
}
/* End About Me */

/* Start my Skills */

.container {
  overflow: hidden;
}

.my-skills {
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-skills .skills,
.my-skills .progress {
  width: 50%;
  float: left;
}

/* End  my Skills */

/* Start Resume */
.resume {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* End Resume */

/* Start my Education */

/*.container {
  overflow: hidden;
}*/

.my-education {
  padding-top: 30px;
  padding-bottom: 30px;
}

.my-education .main,
.my-education .exp {
  width: 50%;
  float: left;
}

/* End  my Education */

/* Start Testimonials */
.testimonials {
  background-color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* End Testimonials */

/* Start Portfolio */

.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.portfolio .our-work {
  overflow: hidden;
}

.portfolio .our-work > div {
  float: left;
  width: 33.333333%;
  margin-bottom: 15px;
}

.portfolio .our-work > div img {
  width: 92%;
  margin: 10px; 
}

/* End Portfolio */

/* Start Contact me */

.contact {
  background-color: #252f31;
}
.contact h2 { color: #FFF;}

.contact p { color: #6A6E71;}



/* End Contact me */

